flask==3.0.0
numpy>=1.26.0,<2.0
pandas==2.1.0
torch==2.1.0
pytorch-lightning==2.1.0
google-cloud-storage==2.13.0
google-cloud-bigquery==3.13.0
google-cloud-aiplatform>=1.38.0
db-dtypes>=1.1.0
requests==2.31.0
torchmetrics>=1.0.0
scipy
scikit-learn
scikit-base<0.14.0
